:root {
    --theme-color: #01848f;
    --side-color: rgb(247,247,247);
    --submit-color: #373737;
}

* {
    padding: 0;
    margin: 0;
}

/* body {
    overflow: hidden;
} */

header {
    background-color: var(--theme-color);
    height: 15vh;
    width: 100%;
    padding-left: 10vw;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: white;
}

main {
    display: flex;
}

/* SIDE-BAR */

.side-bar {
    background-color: var(--side-color);
    box-shadow: 0.5px 0px 5px black;
    height: 80vh;
    width: 14.5vw;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    font-size: 1.2rem;
}

.options,
.profiles {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.profiles {
    padding-right: 2vw;
}

.profiles > p {
    font-size: 1.85rem;
    font-weight: bold;
}

.profiles > .button {
    padding-top: 2.5vh;
}

.inbox, .today, .week {
    display: flex;
    gap: 0.5vw;
}

span, .inbox > p, .today > p, .week > p {
    cursor: pointer;
}

.add-profile, .add-entry {
    display: flex;
    gap: 0.5vw;
    cursor: pointer;
}

/* CONTAINER */

.container {
    width: 100%;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.container > p {
    font-size: 1.85rem;
    font-weight: bold;
    padding-bottom: 3vh;
    padding-right: 60vw;
}

.add-entry {
    font-size: 1.2rem;
    padding-right: 58vw;
}

/* FORM */

.entry {
    background-color: var(--theme-color);
    border-radius: 4vh;
    color: white;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

input {
    width: 35vw;
    height: 3vh;
}

.submit-btn {
    background-color: var(--submit-color);
    border: none;
    border-radius: 4vh;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    margin: 1vh 11vw 0 11vw;
    text-align: center;
    cursor: pointer;
}

/* Entry display */

.todo-element {
    background-color: var(--side-color);
    border-left: 5px solid red;
    width: 40vw;
    margin-right: 20vw;
    margin-top: 2vh;
    padding: 1.2vh 0.5vw 1.2vh 0.5vw;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.todo-title {
    border: 1px solid red;
}

.todo-desc {
    border: 1px solid yellow;
}

.todo-dueDate {
    border: 1px solid green;
}
